.showSet {
  display: table; /* Allow the centering to work */
  margin: 0 auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  list-style-type: none;
  float: left;
  padding: 40px;
}
