.search {
  background-size: 100vw;
  background-repeat: no-repeat;
  height: 600px;
  background-color: rgba(255, 255, 255, 0.2);
  background-blend-mode: lighten;
  overflow-x: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.siteLogo {
  position: relative;
  display: block;
  max-width: 300px;
  padding-top: 80px;
  /* padding-bottom: 30px; */
  margin-left: auto;
  margin-right: auto;
}
