.filter {
  margin-left: 40px;
  border-right: 1px solid lightgray;
  width: 20%;
  margin-bottom: 20px;
  margin-top: 20px;
  /* overflow: scroll; */
  /* height: 90vh; */
  float: left;
}

.filter::-webkit-scrollbar {
  display: none;
}

.filterHeader {
  font-size: 22px;
  color: antiquewhite;
  margin-bottom: 5px;
}
