.filter {
  margin-left: 40px;
  border-right: 1px solid lightgray;
  width: 20%;
  /* height: 80vh; */
  /* position: fixed; */
  margin-bottom: 20px;
  margin-top: 20px;
  overflow: scroll;
  /* float: left; */
}

.filter::-webkit-scrollbar {
  display: none;
}

.filterHeader {
  font-size: 22px;
}
