.eventTitle {
  margin-left: 20px;
}

.Collapsible {
  float: left;
  position: relative;
  margin-left: -90px;
  margin-top: 20px;
}

.Collapsible__trigger.is-closed {
  cursor: pointer;
  width: 60vw;
  height: 100px;
  /* margin-left: auto;
  margin-right: auto; */
  background-color: antiquewhite;
  border-radius: 10px;
  /* box-shadow: 0 2px 5px -0.2px rgba(0, 0, 0, 0.2),
    0 -2px 5px -0.2px rgba(0, 0, 0, 0.2); */
  box-shadow: 0 2px 5px -0.2px rgba(0, 0, 5, 0.2),
    0 -2px 5px -0.2px rgba(0, 0, 0.2, 0.2);
  transition: box-shadow 0.2s ease-in-out;
  transition: height 0.5s;
  position: absolute;
  left: 18%;
  /* padding-left: 30vw;
  padding-right: 30vw;
  padding-bottom: 50px;
  padding-top: 10px; */
}

.Collapsible__trigger.is-closed:hover {
  box-shadow: 0 2px 20px -5px rgba(0, 0, 0, 0.25),
    0 -2px 20px -5px rgba(0, 0, 0, 0.25);
}

.Collapsible__trigger.is-open {
  cursor: pointer;
  width: 60vw;
  height: 200px;
  /* margin-left: auto;
  margin-right: auto; */
  background-color: antiquewhite;
  border-radius: 10px;
  box-shadow: 0 2px 15px -5px rgba(0, 0, 0, 0.2),
    0 -2px 15px -5px rgba(0, 0, 0, 0.2);
  transition: height 0.5s;
  position: absolute;
  left: 18%;
  /* padding-left: 30vw;
  padding-right: 30vw;
  padding-bottom: 120px;
  padding-top: 10px; */
}

.collapsibleRestaurantContent {
}
