.search {
  margin-top: 100px;
  margin-right: 80px;
  float: right;
  width: 70%;
  height: 100vh;
}

.siteLogo {
  width: 60px;
  position: relative;
  margin-left: 100px;
  margin-top: 20px;
}

.searchWrapper {
  display: inline;
}
