input {
  width: 20%;
  height: 50px;
  padding: 12px; /* Some padding */
  /* border: 1px solid darkgray; /* Gray border */
  /* border-radius: 0px 0px 0px 0px; /* Rounded borders
  */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical;
  font-size: 18px;
  border: none;
  outline: none;
}

#searchIn:before {
  content: "";
  position: relative;
  width: 1px;
  background-color: #ccc;
  padding: 0.5px;
  right: 10px;
  top: 8px;
  display: inline-block;
  height: 30px;
}

#searchBtn {
  padding: 4px 20px;
  background-color: peachpuff;
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  font-weight: bolder;
  border-radius: 0px 10px 10px 0px;
  height: 50px;
  /* border: 1px solid darkgray; */
  border: none;
  outline: none;
}

#searchBtn:hover {
  background-color: rosybrown;
  color: white;
}

.search {
  background-size: 100vw;
  background-repeat: no-repeat;
  height: 600px;
  background-color: rgba(255, 255, 255, 0.2);
  background-blend-mode: lighten;
  overflow-x: hidden;
  width: 100%;
}

.searchFor {
  padding: 14.5px 20px;
  /* background-color: papayawhip; */
  background-color: white;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  font-weight: bolder;
  height: 50px;
  width: 100px;
  /* border: 1px solid darkgray; */
  display: inline;
}

.siteLogo {
  position: relative;
  display: block;
  max-width: 300px;
  padding-top: 80px;
  /* padding-bottom: 30px; */
  margin-left: auto;
  margin-right: auto;
}
